* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "DM Sans", sans-serif;
}
body {
    background-color: #f8f9fa;
}
body::-webkit-scrollbar{
  width: 10px;
  background: #f8f9fa;
}
body::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border-right: 2px solid #f8f9fa;
}
.form-imputs {
    position: absolute;
    width: 700px;
    height: 394px;
    left: 250px;
    top: 0px;
}
.input {
    padding: 0px 20px;
    width: 600px;
    height: 75px;
    background: #ffffff;
    border: 1px solid #e2e8f0;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px
    
}
.select {
    background: #ffffff;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;

    background: #4fd1c5;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    outline: 0px;
    border-color: #4fd1c5;

}
.labels {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}
.title{
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 38px;
    margin: 50px;
}
.select-content{
    width: 178px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 10px;
    border-color: #FFFFFF;
    margin: 10px;
}
.bienvenido-h1{
    position: absolute;
    width: 1000px;
    height: 394px;
    left: 350px;
    top: 0px;

    font-size: 96px;
    line-height: 112px;

    color: #4FD1C5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bienvenido-cards{
    position: absolute;
    width: 1614.3px;
    height: 208.12px;
    left: 259px;
    top: 360px;
}
.cards-cierre{
    position: absolute;
    width: 930.24px;
    height: 207.76px;
    left: 259px;
    top: 360px;
    
    /* Black&amp;White/White */
    
    background: #FFFFFF;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
}
.cards-salir{
    position: absolute;
    width: 659.85px;
    height: 207.76px;
    left: 1213.46px;
    top: 360.36px;
    
    /* Black&amp;White/White */
    
    background: #FFFFFF;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
}
