* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "DM Sans", sans-serif;
}
body {
    background-color: #f8f9fa;
}
.main-menu {
    margin: 20px;
    padding-top: 20px;
}
.main-menu ul li {
    list-style: none;
    margin-left: 20px;
    padding-bottom: 28px;
    width: 200px;
    font-size: 20px;
}
.main-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.main-menu ul li a i {
    color: #4fd1c5;
}
.main-menu__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 15px;
    background: #ffffff;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    margin: 15px;
}
.anality-cards {
    position: absolute;
    width: 50%;
    height: 70px;
    left: 270.73px;
    top: 81.02px;
    
}
.main-main {
    position: absolute;
    width: 1668.28px;
    height: 1130px;
    left: 250px;
    top: 170px;
    border: none;
}
.cards {
    position: absolute;
    width: 300px;
    height: 57px;
    left: 100px;
    top: 5px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    font-size: 20px;
}
.cards i {
    position: absolute;
    left: 250px;
    top: 10px;
    color: #4fd1c5;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 50px;
  
}
.cards-b1{
    position: absolute;
    width: 300px;
    height: 57px;
    left: 450px;
    top: 5px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    font-size: 20px;
}
.cards-b1 i {
    position: absolute;
    left: 250px;
    top: 10px;
    color: #4fd1c5;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 50px;
  
}
.cards-b2{
    position: absolute;
    width: 300px;
    height: 57px;
    left: 780px;
    top: 5px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    font-size: 20px;
    
}
.cards-b2 i {
    position: absolute;
    left: 250px;
    top: 10px;
    color: #4fd1c5;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 50px;
}