<!DOCTYPE html>
<html lang="en">

<head>
    <title>Naviera PeP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<body>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="bi bi-clipboard-data"></i>
                    <span class="nav-text">
                        Informes
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="bi bi-plus-square-fill"></i>
                    <span class="nav-text">
                        Ingresar Nave
                    </span>
                </a>

            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="bi bi-plus-square-fill"></i>
                    <span class="nav-text">
                        Ingresar Usuario
                    </span>
                </a>

            </li>


            <li class="has-subnav">
                <a href="#">
                    <i class="bi bi-plus-square-fill"></i>
                    <span class="nav-text">
                        Ingresar Surcursal
                    </span>
                </a>

            </li>



            <li class="has-subnav">
                <a href="#">
                    <i class="bi bi-file-earmark-plus-fill"></i>
                    <span class="nav-text">
                        Itinerario
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="bi bi-calendar-check-fill"></i>
                    <span class="nav-text">
                        Disponibilidad
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-save-fill"></i>
                    <span class="nav-text">
                        Reservar Tiquetes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-cash-stack"></i>
                    <span class="nav-text">
                        Ventas & Contabilidad
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>